@font-face {
    font-family: "Pretendard Variable";
    src: url("../fonts/PretendardVariable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --mg: clamp(12px, 2vw, 28px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: var(--mg);
    width: calc(100vw - var(--mg) * 2);
    /* max-width: 1920px; */
    min-height: calc(100vh - var(--mg) * 2);
    font-family: "Pretendard Variable", "Apple SD Gothic Neo", sans-serif;
    font-weight: 200;
    word-break: keep-all;
    font-size: clamp(16px, 8vw, 44px);
    text-align: center;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-text-stroke: 0.11em black;
    stroke-linejoin: round;
    stroke-linecap: round;
}

p2 {
    flex: 1;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    min-width: 680px;
    gap: 3px;
    /* padding-bottom: 20px; */
}

#header {
    position: fixed;
    top: var(--mg);
    left: 0;
    width: 100vw;
    text-align: center;
    z-index: 10;
    padding: 0 var(--mg);
}

#title {
    display: block;
    line-height: 0.75;
    transform: skewX(-10deg);
    letter-spacing: 0.04em;
}

.secondary {
    font-size: 0.6em;
    line-height: 1.2;
    -webkit-text-stroke: 0.08em black;
    margin-top: 1.3em;
}

/* #datetime {
    display: block;
} */


@media (max-width: 680px) {
    p2 {
        min-width: unset;
    }
}

img {
    height: clamp(32px, 7vw, 102px);
    aspect-ratio: 5 / 6;
    object-fit: cover;
    -webkit-text-stroke: 0;
}

img:hover {
    aspect-ratio: auto;
}

#share {
    cursor: pointer;
}

a {
    color: rgb(0, 0, 0);
}

a:hover {
    color: #4bc353;
}

